body {
    background-color: white;
    position:relative;
    padding-left:400px;
    padding-right:200px;
}
.rightbar{
	background-color:blue;
	right:auto;
	position:fixed;
	height: 100%;
    right: 0;
    width: 200px;
    text-align: left;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
}
h1 {
    color: red;
}
h3{
    color: green;
}
/* rightbar links */
.rightbar a {
  color: #fff;
}
* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 3.25rem;
}

/* rightbar nav */
.rightbar-nav {
  margin-bottom: 1rem;
}
.rightbar-nav-item {
  display: block;
  line-height: 1.75;
}
a.rightbar-nav-item:hover,
a.rightbar-nav-item:focus {
  text-decoration: underline;
}
.right-nav-item.active {
  font-weight: bold;
}
